.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;

  .background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(15, 23, 42, 0.3) 0%,
      rgba(15, 23, 42, 0.1) 50%,
      rgba(15, 23, 42, 0.5) 100%
    );
    pointer-events: none;
  }
}
